<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.pmapper.UserMapper">
    <resultMap id="baseResult" type="com.wk.entity.User">
        <id property="id" column="id" jdbcType="INTEGER"></id>
        <result property="name" column="name" jdbcType="VARCHAR"></result>
        <result property="age" column="age" jdbcType="INTEGER"></result>
        <result property="logdata" column="logdata" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <sql id="baseSql">
        id,name,age,logdata
    </sql>
    <select id="getUserBatch" resultMap="baseResult">
        select <include refid="baseSql"/> from users where (id,name) in
        <foreach collection="list" item="itm" open="(" close=")" separator=",">
            (#{itm.id},#{itm.name})
        </foreach>
        and age &gt;= #{sage}
        and age &lt;= #{eage}
    </select>
    <select id="getAll" resultMap="baseResult">
        SELECT <include refid="baseSql"/> FROM users;
    </select>

    <select id="getSeq" resultType="java.lang.Integer" useCache="false">
        select nextval('user_id_seq'::regclass)
    </select>

    <select id="getAllId" resultType="java.lang.Integer">
        SELECT id from users;
    </select>


    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyColumn="id">
        insert into users(id,name, age,logdata) values
        <foreach collection="list" item="itm" separator="," close=";">
            (nextval('users_id_seq'::regclass),#{itm.name}, #{itm.age},date_trunc('seconds', #{itm.logdata}::timestamp ))
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="com.wk.entity.User">
        <foreach collection="list" item="idx" separator=";">
            UPDATE users SET name=#{idx.name}, age=#{idx.age} WHERE id=#{idx.id}
        </foreach>
    </update>

    <update id="batchUdates" parameterType="java.util.List">
        <foreach collection="list" item="idx" separator=";">
            UPDATE users
            <set>
                <if test="idx.name != null ">
                    name=#{idx.name},
                </if>
                <if test="idx.age != null">
                    age=#{idx.age},
                </if>
            </set>
            WHERE id=#{idx.id}
        </foreach>
    </update>

</mapper>