<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/code-workSpace/project-javaBase/JavaBase/java_testNG">
        <classes>
            <class name="testng.TestNg">
            <methods>
                <include name="testCase1"/>
            </methods>
            </class>
            <class name="testng.testNGAnnotation">
            <methods>
                <include name="beforeCLass"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>