<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <!--数据库连接信息-->
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/ssm
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            admin
        </property>
        <!--格式化sql-->
        <property name="format_sql">true</property>
        <property name="hibernate.show_sql">true</property>
        <!--自动建表 create update create-drop validate-->
        <property name="hbm2ddl.auto">update</property>
        <!--关联hbm配置文件-->
        <mapping resource="hibernate.hbm.xml"/>
        <!--使用注解配置-->
        <mapping class="com.wk.entity.Grade"/>
        <mapping class="com.wk.entity.UserWrapper"/>
        <!--注解实现 NamedQuery-->
        <mapping class="com.wk.entity.NamedUser"/>
        <!--配置实现 NamedQuery-->
        <mapping resource="named-hibernate.hbm.xml"/>
    </session-factory>
</hibernate-configuration>